<!DOCTYPE html>
<html>
<body>

<h2>Providers</h2>

<table>
    <tr>
        <td>adp_run</td>
        <td> paychex_flex_api</td>
        <td> sequoia_one</td>
    </tr>
    <tr>
        <td> bamboo_hr</td>
        <td> paycom</td>
        <td> square_payroll</td>
    </tr>
    <tr>
        <td> bamboo_hr_api</td>
        <td> paycom_api</td>
        <td> trinet</td>
    </tr>
    <tr>
        <td> bob</td>
        <td> paylocity</td>
        <td> trinet_api</td>
    </tr>
    <tr>
        <td> gusto</td>
        <td> paylocity_api</td>
        <td> ulti_pro</td>
    </tr>
    <tr>
        <td> humaans</td>
        <td> personio</td>
        <td> wave</td>
    </tr>
    <tr>
        <td> insperity</td>
        <td> quickbooks</td>
        <td> workday</td>
    </tr>
    <tr>
        <td> justworks</td>
        <td> rippling</td>
        <td> zenefits</td>
    </tr>
    <tr>
        <td> namely</td>
        <td> sage_hr</td>
        <td> zenefits_api</td>
    </tr>
    <tr>
        <td> paychex_flex</td>
        <td> sapling</td>
    </tr>
</table>

<br>

<h2>Paste provider name below to create sandbox</h2>

<form action="http://127.0.0.1:5000/createSandbox" method='post'>
  
  <label for="name">Provider:</label><br>
  <input type="text" name='provider'><br>
  
  <input type="submit" value="Submit"><br>
</form> 

</body>
</html>